* {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
}

.text-white {
    color: white;
}

.banner {
    background-color: #1F2937;
    width: 100%;
    height: 75vh;
}

.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 200px;
    height: 10vh;
}

.logo {
    font-weight: 700;
}

.links {
    display: flex;
    gap: 70px;
}

.hero {
    margin-left: 5%;
    margin-right: 5%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 70%;
}

.text_hero{
    width: 50vw;
}

.text_hero p {
    font-size: 18px;
    color: #E5E7EB;
}

.h1-hero {
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
}

.signup-button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3882f6;
    color: white;
    border-radius: 12px;
    margin-top: 20px;
    height: 40px;
    width: 130px;
    user-select: none;
    transition: all 0.3s ease-in-out;
}

.signup-button:hover {
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    transform: scale(1.05);
}

.image {
    width: 50vw;
    height: auto;
    display: flex;
    justify-content: center;
}

.image img {
    width: 100%;
    height: auto;
}

main {
    margin-top: 7vh;
    margin-left: 5vw;
    margin-right: 5vw;
    width: 90vw;
}

.infos {
    text-align: center;
    margin-bottom: 5vh;
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
}

.content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 100vw;
    height: 60vh;
}

.content img {
    border-radius: 15px;
    box-shadow: #180036 0px 0px 15px 1.8px;
    width: auto;
    height: 40vh;
}

.infos_block {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 25%;
    height: auto;
}

.infos_block p {
    font-size: 18px;
    font-weight: lighter;
    color: rgb(39, 39, 39);
    margin-top: 4vh;
}

.quote {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: -5vw;
    width: 98.9vw;
    height: 65vh;
    background-color: #e5e7eb;
    margin-top: 15vh;
}

.quote div {
    margin-top: 24vh;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    width: 50%;
    height: 70%;
}

.quote_text {
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
    color: #192f37;
}

.quote_author {
    margin-left: 28vw;
    text-align: end;
    font-size: 18px;
    color: #192f37;
}